/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

body {
    background-color: #dd2323;
    color: #ffffff;
}

header {
    background-color: #fffc4e;
    color: #9e8f8f;
    padding: 1rem;
}

nav a {
    color: #9e8f8f;
    text-decoration: none;
    margin-left: 1em;
}

main {
    text-align: center;
    padding: 2rem;
}

footer {
    text-align: center;
}

.logo {
    margin-left: 1em;
}

.login-button {
    margin-right: 2em;
    float: right;
}

.place-card {
    height: 200px;
    width: 300px;
    margin: auto;
    background-color: #fffc4e;
    color: #000000;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.place-card-image {
    position: relative;
}

.body-card{
    text-align:center;
    padding: 20px 25px;
}

.place-title{
    font-family: Georgia;
}

.place-price{
    font-family: Georgia, serif;
}

.details-button {
    margin-left: auto;
}

.place-title_in_places {
    font-family: Georgia;
}

.place-details {
    height: 200px;
    width: 800px;
    background-color: #fffc4e;
    color: #000000;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-info {
    font-family: Georgia;
    font-size: 18px;
}

.review-card {
    height: 150px;
    width: 800px;
    margin: auto;
    background-color: #fffc4e;
    color: #000000;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review-title {
    font-family: Georgia;
}

.review-info {
    font-family: Georgia;
    font-size: 18px;
}

.add-review_in_place {
    height: 150px;
    width: 800px;
    margin: auto;
    background-color: #fffc4e;
    color: #000000;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.add-review {
    height: 350px;
    width: 800px;
    margin: auto;
    background-color: #fffc4e;
    color: #000000;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}

.login-in-hbnb {
    height: 250px;
    width: 800px;
    margin: auto;
    background-color: #fffc4e;
    color: #000000;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}